# Dependencies
node_modules/
.pnp
.pnp.js

# Build
dist/
build/
bin/
obj/

# Env
.env
.env.local
*.log

# IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln.ide/

# OS
.DS_Store
Thumbs.db

# Backend
backend/backend.db
backend/backend.db-shm
backend/backend.db-wal
